# Regras de Associação - Algorítmo Apriori

In [1]:
import pandas as pd
from apyori import apriori

In [2]:
base_mercado = pd.read_csv('../../mercado2.csv', header=None)
base_mercado

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Transforma cada linha da tabela em uma lista

In [5]:
transacoes = []

for i in range(len(base_mercado)):
    transacoes.append([str(base_mercado.values[i, j]) for j in range(base_mercado.shape[1])])

# Gerando as regras

In [8]:
regras = apriori(transacoes, min_support=0.003, min_confidence=0.2, min_lift=3)
resultados = list(regras)

# Codificação para visualizar todas as regras

In [9]:
A = []
B = []
suporte = []
confianca = []
lift = []

for resultado in resultados:
    s = resultado[1]
    result_rules = resultado[2]
    for result_rule in result_rules:
        a = list(result_rule[0])
        b = list(result_rule[1])
        c = result_rule[2]
        l = result_rule[3]
        A.append(a)
        B.append(b)
        suporte.append(s)
        confianca.append(c)
        lift.append(l)

In [11]:
rules_df = pd.DataFrame({'A': A, 'B': B, 'Suporte': suporte, 'Confiança': confianca, 'Lift': lift})
rules_df.sort_values(by='Confiança', ascending=False)

,A,B,Suporte,Confiança,Lift
347,"[soup, milk, frozen vegetables]","[nan, mineral water]",0.003066,0.766667,3.218112
353,"[nan, soup, milk, frozen vegetables]",[mineral water],0.003066,0.766667,3.216312
180,"[soup, milk, frozen vegetables]",[mineral water],0.003066,0.766667,3.216312
106,"[cereals, nan, ground beef]",[spaghetti],0.003066,0.676471,3.885303
104,"[cereals, ground beef]","[nan, spaghetti]",0.003066,0.676471,3.885303
...,...,...,...,...,...
358,"[shrimp, frozen vegetables]","[nan, mineral water, spaghetti]",0.003333,0.200000,3.348661
371,"[ground beef, milk, nan]","[mineral water, spaghetti]",0.004399,0.200000,3.348661
370,"[ground beef, milk]","[nan, mineral water, spaghetti]",0.004399,0.200000,3.348661
224,"[ground beef, milk]","[mineral water, spaghetti]",0.004399,0.200000,3.348661
360,"[nan, shrimp, frozen vegetables]","[mineral water, spaghetti]",0.003333,0.200000,3.348661