# Regras de Associação - ECLAT

In [12]:
import pandas as pd
from pyECLAT import ECLAT

In [13]:
base_mercado = pd.read_csv('../mercado.csv', header=None)
base_mercado

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

# Criando Objecto ECLAT

In [14]:
eclat = ECLAT(data=base_mercado)

In [15]:
eclat.df_bin

   leite  manteiga  cafe  pao  feijao  cerveja  arroz
0      1         1     0    1       0        1      0
1      0         1     1    1       0        0      0
2      0         1     1    1       0        0      0
3      1         1     1    1       0        0      0
4      0         0     0    0       0        1      0
5      0         1     0    0       0        0      0
6      0         0     0    1       0        0      0
7      0         0     0    0       1        0      0
8      0         0     0    0       1        0      1
9      0         0     0    0       0        0      1

In [16]:
eclat.uniq_

['leite', nan, 'manteiga', 'cafe', 'pao', 'feijao', 'cerveja', 'arroz']

In [17]:
indices, suporte = eclat.fit(min_support=0.3, min_combination=1, max_combination=3)

Combination 1 by 1

3it [00:00, 142.87it/s]

Combination 2 by 2

3it [00:00, 115.37it/s]

Combination 3 by 3

1it [00:00, 83.18it/s]

In [18]:
indices

{'manteiga': [0, 1, 2, 3, 5],
 'cafe': [1, 2, 3],
 'pao': [0, 1, 2, 3, 6],
 'manteiga & cafe': [1, 2, 3],
 'manteiga & pao': [0, 1, 2, 3],
 'cafe & pao': [1, 2, 3],
 'manteiga & cafe & pao': [1, 2, 3]}

In [19]:
suporte

{'manteiga': 0.5,
 'cafe': 0.3,
 'pao': 0.5,
 'manteiga & cafe': 0.3,
 'manteiga & pao': 0.4,
 'cafe & pao': 0.3,
 'manteiga & cafe & pao': 0.3}