# Regras de Associação - Algorítmo Apriori

In [1]:
import pandas as pd
from apyori import apriori

In [11]:
base_mercado = pd.read_csv('../../mercado.csv', header=None)
base_mercado

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

# Transforma cada linha da tabela em uma lista

In [12]:
transacoes = []

for i in range(len(base_mercado)):
    # print(base_mercado.values[i, 0])
    transacoes.append([str(base_mercado.values[i, j]) for j in range(base_mercado.shape[1])])

In [13]:
transacoes

[['leite', 'cerveja', 'pao', 'manteiga'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['leite', 'cafe', 'pao', 'manteiga'],
 ['cerveja', 'nan', 'nan', 'nan'],
 ['manteiga', 'nan', 'nan', 'nan'],
 ['pao', 'nan', 'nan', 'nan'],
 ['feijao', 'nan', 'nan', 'nan'],
 ['arroz', 'feijao', 'nan', 'nan'],
 ['arroz', 'nan', 'nan', 'nan']]

# Gerando as regras

In [18]:
regras = apriori(transacoes, min_support=0.3, min_confidence=0.8, min_lift=2)
resultados = list(regras)

# Codificação para visualizar todas as regras

In [28]:
A = []
B = []
suporte = []
confianca = []
lift = []

for resultado in resultados:
    s = resultado[1]
    result_rules = resultado[2]
    for result_rule in result_rules:
        a = list(result_rule[0])
        b = list(result_rule[1])
        c = result_rule[2]
        l = result_rule[3]
        A.append(a)
        B.append(b)
        suporte.append(s)
        confianca.append(c)
        lift.append(l)

In [32]:
rules_df = pd.DataFrame({'A': A, 'B': B, 'Suporte': suporte, 'Confiança': confianca, 'Lift': lift})
rules_df.sort_values(by='Lift', ascending=False)

                  A                B  Suporte  Confiança  Lift
2            [cafe]  [manteiga, pao]      0.3        1.0   2.5
0            [cafe]       [manteiga]      0.3        1.0   2.0
1            [cafe]            [pao]      0.3        1.0   2.0
3  [cafe, manteiga]            [pao]      0.3        1.0   2.0
4       [cafe, pao]       [manteiga]      0.3        1.0   2.0