In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<h2>Ler o Arquivo CSV</h2>

In [ ]:
data = pd.read_csv("housing.csv")

<h2>Informações da tabela</h2>

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

<h2>Remove todas as linhas do DataFrame (ou Series) data que contêm pelo menos um valor nulo/NaN.</h2>

In [ ]:
data.dropna()

<h2>O DataFrame original (data) é modificado diretamente.</h2>

<h4>Ou seja, as linhas (ou colunas, dependendo dos parâmetros) com valores nulos são removidas do próprio objeto, sem precisar criar uma cópia.</h4>

In [5]:
data.dropna(inplace=True)

<h2>Preparar os dados para treino e teste em um modelo de Machine Learning.</h2>

<h4>- Contém todas as colunas de entrada (ex.: número de quartos, população, etc).</h4>
<h4>- Contém apenas a coluna median_house_value, que é a saída a ser prevista pelo modelo.</h4>

In [ ]:
from sklearn.model_selection import train_test_split

x = data.drop(["median_house_value"], axis = 1)
y = data["median_house_value"]