In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
base_credit = pd.read_csv("../../../credit_data.csv")

# Verifica quantos valores Nulos existem em cada coluna da tabela

In [3]:
base_credit.isnull().sum()

clientid    0
income      0
age         3
loan        0
default     0
dtype: int64

# Procura qual cliente esta com um valor Nulo

In [4]:
base_credit.loc[pd.isnull(base_credit['age'])]

    clientid        income  age         loan  default
28        29  59417.805406  NaN  2082.625938        0
30        31  48528.852796  NaN  6155.784670        0
31        32  23526.302555  NaN  2862.010139        0

# Preenchendo os valores Nulos com a m√©dia da coluna idade da tabela

In [5]:
base_credit['age'] = base_credit['age'].fillna(base_credit['age'].mean())

In [8]:
base_credit.loc[[28, 30, 31]]

    clientid        income        age         loan  default
28        29  59417.805406  40.807559  2082.625938        0
30        31  48528.852796  40.807559  6155.784670        0
31        32  23526.302555  40.807559  2862.010139        0